#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>      // キーボード用コード
#include <dt-bindings/zmk/bt.h>         // Bluetooth 用コード
#include <dt-bindings/zmk/pointing.h>   // マウス/スクロール用コード

/ {
    macros {
        win_l: win_l {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "WIN+L";
            bindings = <&kp LGUI &kp L>;
        };
        abelsoft2003: abelsoft2003 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>; 
            tap-ms  = <40>;
            bindings = <
                &kp A &kp B &kp E &kp L &kp S &kp O &kp F &kp T 
                &kp N2 &kp N0 &kp N0 &kp N3
                &kp EXCLAMATION
            >;
        };
        jis_en: jis_en {
		    compatible = "zmk,behavior-mod-morph";
		    label = "jis_en";/*円マークとパイプ*/
		    #binding-cells = <0>;
		    bindings = <&kp 0x87>, <&kp LS(0x89)>;
		    mods      = <(MOD_LSFT | MOD_RSFT)>;
		    keep-mods = <(MOD_LSFT | MOD_RSFT)>;
		};
        jis_bslash: jis_bslash {
		    compatible = "zmk,behavior-mod-morph";
		    label = "jis_bslash";/*バックスラッシュとアンダースコア*/
		    #binding-cells = <0>;
		    bindings = <&kp 0x87>, <&kp LS(0x87)>;
		    mods      = <(MOD_LSFT | MOD_RSFT)>;
		    keep-mods = <(MOD_LSFT | MOD_RSFT)>;
		};
    };
    keymap {
        compatible = "zmk,keymap";
        layer_0 {
            bindings = <
                &kp ESC			&kp F1		&kp F2		&kp F3				&kp F4			&kp F5		&kp F6		&bt BT_SEL 0				&kp F7			&kp F8			&kp F9			&kp F10			&kp F11			&kp F12			&kp PSCRN					&kp DEL			&kp C_VOL_UP	&msc SCRL_UP
                &mo 1			&kp N1		&kp N2		&kp N3				&kp N4			&kp N5		&kp N6		&bt BT_SEL 1				&kp N7			&kp N8			&kp N9			&kp N0			&kp MINUS/*-*/	&kp EQUAL/*^*/	&jis_en						&kp BSPC		&kp C_VOL_DN	&msc SCRL_DOWN
                &kp TAB			&kp Q		&kp W		&kp E				&kp R			&kp T		&kp Y		&bt BT_SEL 2				&kp Y			&kp U			&kp I			&kp O			&kp P			&kp LBKT/*@*/	&kp RBKT/*[*/				&kp ENTER		&lt 1 HOME		&kp PG_UP
                &kp LCTRL		&kp A		&kp S		&kp D				&kp F			&kp G		&kp H		&kp C_VOL_UP				&kp H			&kp J			&kp K			&kp L			&kp SEMI/*;*/	&kp SQT/*:/		&kp BACKSLASH/*]*/							&lt 1 END		&kp PG_DN
                &kp LSHIFT		&kp Z		&kp X		&kp C				&kp V			&kp B					&kp C_VOL_DN				&kp B			&kp N			&kp M			&kp COMMA/*,*/	&kp DOT	/*.*/	&kp SLASH/* */	&jis_bslash					&kp RSHIFT		&kp UP
                &kp LCTRL		&kp LGUI	&kp LALT	&kp INT_MUHENKAN	&kp SPACE		&kp ENTER	&kp BSPC	&kp DEL						&kp ENTER		&kp SPACE		&kp INT_HENKAN	&kp K_CMENU		&mo 1			&kp RALT		&kp RCTRL					&kp LEFT		&kp DOWN		&kp RIGHT
            >;
        };

        layer_1 {
            bindings =<
                &none 			&none 		&kp PSCRN	&none 				&none 			&none 		&none 		&none		 				&none 			&none 			&none 			&none			&none			&none			&none					&none		&none			&none
				&kp LANG5		&none		&none		&none				&none			&none		&none		&abelsoft2003				&none			&none			&none			&none			&none			&none			&none					&none		&none			&none
				&none			&none		&none		&none				&none			&none		&none		&none						&none			&none			&none			&none			&none			&none			&none					&none		&win_l			&none
				&none			&none		&none		&none				&none			&none		&none		&none						&none			&none			&none			&win_l			&none			&none			&none								&win_l			&none
				&none			&none		&none		&none				&none			&none					&none						&none			&none			&none			&none			&none			&none			&none					&none		&none
				&none			&none		&none		&none				&none			&none		&none		&none						&none			&none			&none			&none			&none			&none			&none					&none		&none			&none
            >;
        };

        layer_2 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };

        layer_3 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};
