#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>      // キーボード用コード
#include <dt-bindings/zmk/bt.h>         // Bluetooth 用コード
#include <dt-bindings/zmk/pointing.h>   // マウス/スクロール用コード

/ {
    macros {
        win_l: win_l_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "WIN+L";
            bindings = <&kp LGUI &kp L>;
        };
        abelsoft2003: abelsoft2003_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>; 
            tap-ms  = <40>;
            bindings = <
                &kp A &kp B &kp E &kp L &kp S &kp O &kp F &kp T 
                &kp 2 &kp 0 &kp 0 &kp 3
                &kp EXCLAMATION
            >;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        layer_0 {
            bindings = <
                &kp ESC			&kp F1		&kp F2		&kp F3				&kp F4			&kp F5		&kp F6		&bt BT_SEL 0				&kp F7			&kp F8			&kp F9			&kp F10			&kp F11			&kp F12			&kp PSCRN				&kp DEL	&kp C_VOL_UP		&msc SCRL_UP
                &mo 1			&kp 1		&kp 2		&kp 3				&kp 4			&kp 5		&kp 6		&bt BT_SEL 1				&kp 7			&kp 8			&kp 9			&kp 0			&kp MINUS		&kp EQUAL		&kp BACKSLASH			&kp BSPC	&kp VOLUME_DOWN	&msc SCRL_DOWN
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };

        layer_1 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };

        layer_2 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };

        layer_3 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
            >;
        };
    };
};
